<div class="app-shell">
  <header>
    <div class="header-top">
      <div class="brand-logo">
        <div class="brand-mark"><span>P</span></div>
      </div>
      
      <div class="brand-title">
        <h1>Bienvenido {{ userService.getUsername() }}</h1>
      </div>
      
      <div class="user-avatar">
        <span>👨‍🦲</span>
      </div>
    </div>

    <div class="header-bottom">
      <a routerLink="/" class="nav-link">Inicio</a>
      <span class="divider">|</span>
      <a href="#" class="nav-link" (click)="throwNotImplemented($event, 'Agregar Serie')">Agregar Serie</a>
      <span class="divider">|</span>
      <a href="#" class="nav-link" (click)="throwNotImplemented($event, 'Ver Cargos')">Ver Cargos</a>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>